$max-width-image: 100%;



/* Ordena las imagenes*/
.destacado{
    display: flex;
    justify-content: space-between;
}
.imagenes{
    display: flex;
    justify-content: space-around;
    max-width: $max-width-image;
    height: auto;
    margin: 0;
}
@media (max-width: 576px){
    .destacado{
        flex-direction: column;
        max-width: $max-width-image/2;
        justify-content: center;
        align-items: center;
        margin:0%;
        height:auto;
    }
}