@use 'Header';
@use 'Nosotros';
@use 'index';
@use 'destacado';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;}

    body footer{
        margin: 15px;
        flex-direction: flex-end;
        background-color:rgba(230, 2, 2, 0.815);
        margin: 10%;
        padding: 10px;
        border-radius: 10px;
    }


