@use 'Header';
@use 'Nosotros';
@use 'index';
@use 'destacado';
@use 'contacto';
@use 'cuenta';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;}

body footer{
    display: flex;
    width: 100%;
    float: left;
    background-color: rgba(230, 2, 2, 0.815);
    height: 100px;
    padding-top: 40px;
    margin-top: 200px;
    }


